@{
    ViewData["Title"] = "Eldent";
}

<style>
    body {
        background-color: #FEE2AD !important;
    }

    .card {
        background-color: black;
        color: #ffffff;
    }

    .text-light a {
        color: #0dcaf0;
    }

    .card-header {
        background-color: black;
    }

    .border-primary,
    .border-success,
    .border-info {
        border-width: 2px;
    }
</style>

<div class="container mt-5 text-light">
    <div class="text-center mb-5">
        <h1 class="display-4 text-info fw-bold">Welcome To Eldent</h1>
        <p class="lead">
            Learn more <a href="https://learn.microsoft.com/aspnet/core" class="text-decoration-underline">building Web apps with ASP.NET Core</a>.
        </p>
    </div>

    <div class="row g-4 justify-content-center">
        <!-- First auto-column -->
        <!-- Third auto-column -->


    </div>
</div>

